<section class="advertisement section">
  <div class="marquee-container">
    <div class="marquee-inner">
      <h2 class="marquee-line">
        <span class="accent-marquee-line">Master</span> your photography
        <span class="accent-marquee-line">skills with us!</span>
      </h2>
      <h2 class="marquee-line">
        <span class="accent-marquee-line">Master</span> your photography
        <span class="accent-marquee-line">skills with us!</span>
      </h2>
    </div>
  </div>
</section>
