<section class="courses section" id="our_courses">
  <div class="container">
    <div class="courses-block">
      <h2 class="courses-title section-title">
        Our <span class="accent-title">Courses</span>
      </h2>
      <p class="courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <div class="courses-cards">
      <ol class="courses-list">
        <li class="courses-item">
          <div class="courses-wrapper">
            <p class="courses-numer one">01</p>
            <a class="courses-link" href="#signup">
              <svg class="courses-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-narrow-up-arrow"></use>
              </svg>
            </a>
          </div>

          <div class="courses-main">
            <h3 class="courses-subtitle">Basics of photography</h3>
            <p class="courses-text-accent">
              During this course, you will be able to familiarize yourself with
              different types of cameras, learn the basics of composition.
            </p>
          </div>
        </li>
        <li class="courses-item">
          <div class="courses-wrapper">
            <p class="courses-numer two">02</p>
            <a class="courses-link" href="#signup">
              <svg class="courses-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-narrow-up-arrow"></use>
              </svg>
            </a>
          </div>

          <div class="courses-main">
            <h3 class="courses-subtitle">Landscape photography</h3>
            <p class="courses-text-accent">
              In this course, you'll learn how to choose the right angles, frame
              landscapes, and create depth and perspective in your images.
            </p>
          </div>
        </li>
        <li class="courses-item">
          <div class="courses-wrapper">
            <p class="courses-numer three">03</p>
            <a class="courses-link" href="#signup">
              <svg class="courses-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-narrow-up-arrow"></use>
              </svg>
            </a>
          </div>

          <div class="courses-main">
            <h3 class="courses-subtitle">Portrait photography</h3>
            <p class="courses-text-accent">
              During this course, you will learn to choose the right lighting,
              reproduce the mood and expressions on the faces of the models.
            </p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
