<section class="section hero" id="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">
        Discover the magic of
        <span class="hero-accent">photography</span>
        in our school
      </h1>
      <p class="hero-text">Our photography school offers an unforgettable journey, where you can learn the basics of
        composition, master technical skills, translate your unique ideas.
      </p>
      <div class="hero-reviews-wrapper">
        <div class="hero-students-container">
          <ul class="hero-students">
            <li class="hero-student-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="./images/hero/img-1.png 1x, ./images/hero/img-1@2x.png 2x"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="./images/hero/img-1-mobile.png 1x, ./images/hero/img-1-mobile@2x.png 2x"
                />
                <img
                  class="hero-student-photo"
                  src="./images/hero/img-1-mobile.png"
                  alt="Blond girl looking left"
                  width="44"
                  height="44"
                  loading="lazy">
              </picture>
            </li>
            <li class="hero-student-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="./images/hero/img-2.png 1x, ./images/hero/img-2@2x.png 2x"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="./images/hero/img-2-mobile.png 1x, ./images/hero/img-2-mobile@2x.png 2x"
                />
                <img
                  class="hero-student-photo"
                  src="./images/hero/img-2-mobile.png"
                  alt="Blond girl looking left"
                  width="44"
                  height="44"
                  loading="lazy">
              </picture>
            </li>
            <li class="hero-student-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="./images/hero/img-3.png 1x, ./images/hero/img-3@2x.png 2x"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="./images/hero/img-3-mobile.png 1x, ./images/hero/img-3-mobile@2x.png 2x"
                />
                <img
                  class="hero-student-photo"
                  src="./images/hero/img-3-mobile.png"
                  alt="Blond girl looking left"
                  width="44"
                  height="44"
                  loading="lazy">
              </picture>
            </li>
          </ul>
          <a href="#reviews" class="hero-reviews-link">
            <span class="hero-reviews-link-text">Our happy students
              <svg class="hero-reviews-link-icon" width="18" height="9">
                <use href="./images/icons.svg#icon-hero-arrow" />
              </svg>
            </span>
          </a>
        </div>
        <div class="hero-reviews-container">
                <span class="review-icon-box">
                  <svg class="hero-star" width="20" height="20">
                    <use href="./images/icons.svg#icon-hero-star" />
                  </svg>
                </span>
          <div>
            <p class="hero-reviews-txt">Reviews</p>
            <p class="hero-reviews-number">+1500</p>
          </div>
        </div>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./images/hero/hero-desktop.png 1x, ./images/hero/hero-desktop@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/hero/hero-tablet.png 1x, ./images/hero/hero-tablet@2x.png 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/hero/hero-mobile.png 1x, ./images/hero/hero-mobile@2x.png 2x"
        />
        <img
          class="hero-photo"
          src="./images/hero/hero-mobile.png"
          alt="Cool-looking guy with camera"
          width="259"
          height="314"
          loading="lazy">
      </picture>
    </div>
  </div>
</section>
