<section class="mentors section" id="our_mentors">
  <div class="mentors-container container">
    <h2 class="mentors-title section-title">
      Our <span class="accent-title">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          srcset="
            ./images/mentors/img-1.jpg    1x,
            ./images/mentors/img-1@2x.jpg 2x
          "
          src="./images/mentors/img-1.jpg"
          alt="Emilia Smith"
          class="mentors-img"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-name">Emilia Smith</h3>
        <h4 class="mentors-description">1.5 years of experience</h4>
      </li>
      <li class="mentors-item">
        <img
          srcset="
            ./images/mentors/img-2.jpg    1x,
            ./images/mentors/img-2@2x.jpg 2x
          "
          src="./images/mentors/img-2.jpg"
          alt="Alex Lebedev"
          class="mentors-img"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-name">Alex Lebedev</h3>
        <h4 class="mentors-description">3.5 years of experience</h4>
      </li>
      <li class="mentors-item">
        <img
          srcset="
            ./images/mentors/img-3.jpg    1x,
            ./images/mentors/img-3@2x.jpg 2x
          "
          src="./images/mentors/img-3.jpg"
          alt="Mia Dubrovska"
          class="mentors-img"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-name">Mia Dubrovska</h3>
        <h4 class="mentors-description">2.0 years of experience</h4>
      </li>
      <li class="mentors-item">
        <img
          srcset="
            ./images/mentors/img-4.jpg    1x,
            ./images/mentors/img-4@2x.jpg 2x
          "
          src="./images/mentors/img-4.jpg"
          alt="Eliot Kovalev"
          class="mentors-img"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-name">Eliot Kovalev</h3>
        <h4 class="mentors-description">4.0 years of experience</h4>
      </li>
    </ul>
  </div>
</section>
